<%- include('partials/_header') %>
<%- include('partials/_navBarLoging.ejs') %>
<br>
<br>
<br>
<br>
<%= doc.length %>
<div class="d-flex justify-content-center">

  <% for(let i = 0; i < doc.length ; ++i) { %>

  <div class="card" style="width: 18rem;">
    <img src="<%=doc[i].main_picture%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=doc[0].title%></h5>

      <a href="/evento/<%=doc[i]._id%>" class="btn btn-primary">More info</a>
    </div>
  </div>
  <% } %>
</div>


<%- include('partials/_footer.ejs') %>