<%- include('partials/_header') %>
<br>
<br>
<br>

    <div class="d-flex justify-content-center">
        <div class="col-8">
          <div class="card">
          <div class="card-header">
              <a class="text-secondary" role="button" href=""><%- event.title %></a>
          </div>
          <div class="card-body">
            <img src="<%= event.main_picture %>" class="card-img-top" alt="...">
              <blockquote class="blockquote mb-0">
              <a class="text-secondary" ><p class="text-break"><%- event.description %></p></a>
              <a class="text-secondary" ><p class="text-break"><%- event.extraInfo %></p></a>
              <a class="text-secondary" >
                    <% for(let i = 0; i < event.tags.length; ++i){ %>
                        <p class="text-break"><%- event.tags[i] %></p>
                    <%}%>
                </a>
                <a class="text-secondary" ><p class="text-break">
                    <% if(event.category == 0){%> CINE <%;}else if(event.category == 1){%> TEATRO <%;}else if(event.category == 2){%> GASTRONOMÍA <%;} 
                    else if(event.category == 3){%> MUSEO <%;}else if(event.category == 4){%> MÚSICA <%;}else{%> NONE <%;}%>
                </a>
                <a class="text-secondary" ><p class="text-break"><%- event.price %></p></a>
              <footer class="blockquote-footer">dirección: <cite title="Source Title"><%= event.localization%></cite></footer>
              </blockquote>
          </div>
          </div>
        </div>
    </div>

            <br><br><br>

            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Promociones</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Reseñas</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex justify-content-center">
                            <h4>Promociones</h4>
                            <%  for(let i = 0; i < event.promotions.length; i++){ %>
                            <div class="col-8">
                              <div class="card">
                              <div class="card-header">
                                  <a class="text-secondary" role="button" href=""><%- event.promotions[i].title%></a>
                              </div>
                              <div class="card-body">
                                <img src="<%= event.promotions[i].picture %>" class="card-img-top" alt="...">
                              </div>
                              </div>
                            </div>
                            <%}%>
                        </div>
                    
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex justify-content-center">
                            <h4>Reseñas</h4>
                            <%  for(let i = 0; i < event.reviews.length; i++){ %>
                            <div class="col-8">
                              <div class="card">
                              <div class="card-header">
                                  <a class="text-secondary" role="button" href=""><%- event.reviews[i].title%></a>
                              </div>
                              <div class="card-body">
                                <img src="<%= event.main_picture %>" class="card-img-top" alt="...">
                                  <blockquote class="blockquote mb-0">
                                  <a class="text-secondary" ><p class="text-break"><%- event.reviews[i].description %></p></a>
                                  <a class="text-secondary" ><p class="text-break"><%- event.reviews[i].score %></p></a>
                                
                                  </blockquote>
                              </div>
                              </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>



            <%- include('partials/_footer.ejs') %>