<%- include('partials/_header') %>
<nav style="padding: 0ch !important;" class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1"></span>

  <form class="form-inline" action="?" method="POST">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#search"
      aria-expanded="false" name="search"><i class="fas fa-search"></i></button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_in"><i class="fas fa-sign-in-alt"></i>
      Sign in</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_up"><i class="fas fa-sign-in-alt"></i>
      Sign up</button>

  </form>
</nav>
<div class="collapse" id="search">
  <div class="card card-body">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </div>
</div>

<br>
<h1><%= activities[0] %></h1>
<br>

<% for(var categories = 0; categories < Categories.size; ++categories){ %>
<div class="d-flex justify-content-center">
  <h1><%= Categories.get(categories)%></h1>
</div>


<br>
<div style="padding: 10ch !important;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% for(var i = 0; i < 2; ++i){ %>

    <% if(i == 0 ){ %>
    <div class="carousel-item active">

      <div class="d-flex justify-content-left">
        <% for(var z = 0; z < 5; ++z){ %>
        <div class="card" style="margin-right: 2ch !important; width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card <%=z%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <% } %>



      </div>
    </div>
    <% } 
          else { %>
    <div class="carousel-item">

      <div class="d-flex justify-content-left">
        <% for(var z = 0; z < 5; ++z){ %>
        <div class="card" style="margin-right: 2ch !important; width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card <%=z%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <% } %>
      </div>

    </div>

    <% }
        } %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<% }%>





<%- include('partials/_footer.ejs') %>